.profilePicture {
  margin: auto;
  margin-top: 100px;
  padding-top: 10px;
  text-align: center;
  height: 100%;
  background-image: linear-gradient(rgba(52, 225, 235, 1), rgba(167, 250, 240, 1));
}

.profilePicture_image {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}

.imageCropper {
  width: 300px;
  height: 300px;
  /* position: relative; */
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: auto;
  background-color: rgba(255,255,255,0.4);
}

.profilePicture_userDetails {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 75%;
  background-color: rgba(255,255,255,0.4);
  margin-top: 10px;
  margin-bottom: 20px;
}

.profilePicture_assignments {
  height: 100%;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.profileRank {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* object-fit: contain; */
}

.profilePicture_name {
  font-family: "Helvetica Neue", Helvetica, "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Tahoma;
  font-weight: bold;
  color: #1f8ecd;
  text-align: center;
  padding: 0;
  margin: 0;
}

.points {
  font-family: "Helvetica Neue", Helvetica, "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Tahoma;
  text-align: center;
  padding: 0;
  margin: 0;
}

.p1 {
  font-family: "Helvetica Neue", Helvetica, "Apple SD Gothic Neo", AppleGothic, Dotum, Arial, Tahoma;
  font-size: 10px !important;
  padding: 0;
  margin: 0;
}
